<style>

    img{
        width: 100px;
        height: 100px;
    }
    .table td,
    .table th {
        vertical-align: middle;
        padding: 10px;
        background-color: rgb(26, 24, 24);
        color: white; 
    }
    table{
        border-collapse: collapse;
    }


</style>


    <tr scope="row" >
    <td>
            {{title}} 
    </td>
    <td>
            {{price}}
    </td>
    <td>
        <img src = {{thumbnail}}>
    </td> 
</tr>
